
    <div class="resultsBG">
      <div class="row">
        <div class="col-12">
          <h2 class="cardTitle">{{title}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <img class="clippedImg" src="{{img}}">
        </div>
        <div class="col-6">
          <p class="cardText">
            {{description}}
          </p>
          <a class="cardLink btn-sm btn-success" target="_blank" href="{{link}}">Click here for more!</a>
        </div>
        <div class="col-3">
          <div class="row">
            <button type="button" class="cardLink btn-sm btn-success unsaveBtn" data-id="{{_id}}">UNSAVE</button>
          </div>
          <div class="row">
            <button type="button" class="cardLink btn-sm btn-success deleteBtn" data-id="{{_id}}">DELETE</button>
          </div>
          <div class="row">
            <button type="button" class="cardLink btn-sm btn-success noteBtn" data-id="{{_id}}">ADD NOTE</button>
          </div>
        </div>
      </div>
    </div>
   



